.fondo {
  background-color: white;
  margin-top: 50px;
  border-style: solid;
}

.centrado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}
