.fondo {
  background-color: none;
  margin-top: 50px;
}

.centrado {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 20px;
}

span {
  font-family: fantasy;
  font-size: 25px;
}

.price {
  color: black;
}
