.itemContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
  padding: 25px;
}

.itemStyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}
