* {
  box-sizing: border-box;
}

.itemContainer {
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-left: 50px;
}

.itemStyle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px;
}
