@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 5%;
  background-color: #24252a;
}

.logo {
  width: 320px;
  height: 80px;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
  color: white;
  font-family: "Work Sans", sans-serif;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: white;
  text-decoration-style: solid;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.8);
}
